<footer class="footer">
    <div class="footer__container container">
        <a href="/" class="footer__logo">
            <img class="footer__icon" src="%=static=%img/general/logo.svg" alt="Логотип «Соседи»" />
            <span class="footer__title">Соседи</span>
        </a>

        <p class="footer__copyright">© 2021 Все права защищены</p>

        <nav class="footer__nav">
            <ul class="footer__nav-list">
                <li class="footer__nav-item"><a href="/tenants.html" class="footer__nav-link">Жильцам</a></li>
                <li class="footer__nav-item"><a href="/mc.html" class="footer__nav-link">Управляющим компаниям</a></li>
            </ul>
        </nav>
    </div>
</footer>
