<header class="header">
    <div class="header__container container">
        <a href="/" class="header__logo">
            <img class="header__icon" src="%=static=%img/general/logo.svg" alt="Логотип «Соседи»" />
            <span class="header__title">Соседи</span>
        </a>

        <nav class="header__nav">
            <ul class="header__nav-list">
                <!-- add class "header__nav-link--active" for active page -->
                <li class="header__nav-item"><a href="/tenants.html" class="header__nav-link">Жильцам</a></li>
                <li class="header__nav-item"><a href="/mc.html" class="header__nav-link">Управляющим компаниям</a></li>
            </ul>
        </nav>

        <div class="header__contacts">
            <a href="tel:+74952666479" class="header__contacts-link">+7 495 266-64-79</a>
            <a href="mailto:it@laborato.org" class="header__contacts-link">it@laborato.org</a>
        </div>
    </div>
</header>
