<section class="possibilities">
    <div class="possibilities__container container">
        <h2 class="possibilities__title section-title">Возможности приложения Соседи</h2>

        <div class="possibilities__wrapper">
            <div class="possibilities__card-wrapper">
                <div class="possibilities__card">
                    <img src="%=static=%img/assets/possibilities/possibilities-tenants.jpg" alt="Жильцам"
                        class="possibilities__cover">
                    <div class="possibilities__body">
                        <p class="possibilities__name">
                            Жильцам
                        </p>
                        <ul class="possibilities__list">
                            <li class="possibilities__item">• Предметное общение между управляющей компанией и жителями
                                поселка.</li>
                            <li class="possibilities__item">

                                • Услуги консьерж-сервиса, заказ еды, бронирование</li>
                            <li class="possibilities__item">
                                • Онлайн оплата коммуналки и история всех платежей</li>
                            <li class="possibilities__item">
                                • Электронный пропуск, камеры и кнопка вызова милиции</li>
                        </ul>
                        <a href="/tenants.html" class="possibilities__more">Подробнее</a>
                    </div>
                </div>
            </div>
            <div class="possibilities__card-wrapper">
                <div class="possibilities__card">
                    <img src="%=static=%img/assets/possibilities/possibilities-mc.jpg" alt="Управляющим компаниям"
                        class="possibilities__cover">
                    <div class="possibilities__body">
                        <p class="possibilities__name">
                            Управляющим компаниям
                        </p>
                        <ul class="possibilities__list">
                            <li class="possibilities__item">
                                • Сокращение временных затрат за счет автоматизации процессов.</li>
                            <li class="possibilities__item">
                                • Информация обо всех сервисах УК</li>
                            <li class="possibilities__item">
                                • История активности жителя</li>
                            <li class="possibilities__item">
                                • Прием ообработка заявок через диспетчера или напрямую</li>
                        </ul>
                        <a href="/mc.html" class="possibilities__more">Подробнее</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
