<section class="how-to-use {{bgImageClass}}">
    <div class="how-to-use__container container">
        <h2 class="how-to-use__title section-title section-title--white">Как пользоваться приложением</h2>

        <iframe class="how-to-use__video" src="https://www.youtube.com/embed/F8MN0o6RS9o"
            title="Как пользоваться приложением" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
    </div>
</section>
