<section id="feedback-request" class="feedback-request">
    <div class="feedback-request__container container">
        <div class="feedback-request__form-wrapper">
            <h2 class="feedback-request__title section-title">
                Оставьте заявку
            </h2>
            <p class="feedback-request__subtitle">Наш менеджер свяжется <br>
                в ближайшее время</p>

            <form action="" class="feedback-request__form">
                <input type="text" class="feedback-request__input" placeholder="Ваше имя" reuqired>
                <input type="text" class="feedback-request__input" placeholder="Ваш email" reuqired>
                <input type="text" class="feedback-request__input" placeholder="Ваш номер телефона" reuqired>
                <input type="text" class="feedback-request__input" placeholder="Ваша компания" reuqired>

                <button class="feedback-request__button" type="submit">Отправить</button>
                <p class="feedback-request__pp">Нажимая отправить, вы соглашаетесь с <a href="#"
                        class="feedback-request__pp-link">нашей политикой конфиденциальности</a></p>
            </form>
        </div>
    </div>
</section>
